<div class="profile-page__form-info__row">
  <div class="input-profile" type={{type}} size="40" name="{{inputName}}">{{{value}}}</div>
  <div class="profile-page__form-info__label">{{{placeholder}}}</div>
</div>
