<div class="input">
  <input class="input-field" type={{ type }} size="40" placeholder={{ placeholder }} name="{{ inputName }}"></input>
  <div class="input-placeholder">{{ placeholder }}</div>
</div>
