input {
  border-bottom: 1px solid var(--borderColor);
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: var(--backgroundColor);
  width: 280px;
  color: var(--textColorRegular);
  padding: 7px 0px;
}
