input[type="file"]::file-selector-button {
  color: #1e90ff;
  border: thin solid gray;
  border-radius: 3px;
  padding: 0.5em;
  font-weight: 700;
  display: none;
}

input[type="file"] {
  color: var(--primaryColor);
  text-decoration: underline;
}

input[type="file"]:hover {
  cursor: pointer;
}
