.input-profile,
div.input-profile {
  color: var(--grayColor);
  background-color: var(--backgroundColor);
  text-align: right;
  border: none;
  width: 280px;
}

.input-profile:active,
.input-profile:focus,
div.input-profile:active,
div.input-profile:focus {
  outline-offset: 0;
  outline: 0;
}

.input-profile:hover,
div.input-profile:hover {
  cursor: pointer;
}

div.input-profile {
  font-size: 13px;
  line-height: 13px;
}

div.input-profile:hover {
  cursor: default;
}
