<div class="chat-room-content">
  <div class="chat-room-content__date">19 июня</div>
  <div class="chat-room-content__messages">
    {{#each MessagesArr}}
    {{{this}}}
    {{/each}}
  </div>
</div>
