.button {
  width: 280px;
  height: 37px;
  border-radius: 7px;
  padding: 0px;
  border-width: 0px;
  font-size: 13px;
  line-height: 13px;
  cursor: pointer;

  &--primary {
    background-color: var(--primaryColor);
    color: var(--textColorRegular);
  }
}

.link-button {
  color: var(--primaryColor);
}
