<div class="login">
  {{#extend "form-layout"}}
  {{#content "title"}}
  <h2>{{ login.title }}</h2>
  {{/content}}
  {{#content "body"}}
  <div class="form-content__input">
    {{> input placeholder="Логин" type="text" }}
  </div>
  <div class="form-content__input">
    {{> input placeholder="Пароль" type="password" }}
  </div>
  {{/content}}
  {{#content "footer"}}
  <div class="form-footer__button">
    {{> button label=login.buttonLabel }}
  </div>
  <div class="form-footer__link">
    <a href="/src/profile.hbs">Нет аккаунта?</a>
  </div>
  {{/content}}
  {{/extend}}
</div>