<div class="login">
  {{#extend "form-layout"}}
  {{#content "title"}}
  <div>{{ signIn.title }}</div>
  {{/content}}
  {{#content "body"}}
  <div class="form-content__input">
    {{> input placeholder="Почта" type="email" name="email" }}
  </div>
  <div class="form-content__input">
    {{> input placeholder="Логин" type="text" name="login"}}
  </div>
  <div class="form-content__input">
    {{> input placeholder="Имя" type="text" name="first_name"}}
  </div>
  <div class="form-content__input">
    {{> input placeholder="Фамилия" type="text" name="second_name"}}
  </div>
  <div class="form-content__input">
    {{> input placeholder="Телефон" type="tel" name="phone"}}
  </div>
  <div class="form-content__input">
    {{> input placeholder="Пароль" type="password" name="password"}}
  </div>
  <div class="form-content__input">
    {{> input placeholder="Пароль(повтор)" type="password" name="password_repeat"}}
  </div>
  {{/content}}
  {{#content "footer"}}
  <div class="form-footer__button">
    {{> button label=signIn.buttonLabel action="goToPage('chat')" }}
  </div>
  <div class="form-footer__link">
    <a onclick="goToPage('chat')">Войти</a>
  </div>
  {{/content}}
  {{/extend}}
</div>