<div class="chat">
  <div class="chat-left-field">
    <div class="chat-left-field__profile-link"><a href="/src/profile.hbs">Профиль ›</a></div>
    <div>{{> search }}</div>
    {{> usersList }}
  </div>
  <div class="chat-right-field">RIghtBar</div>
</div>