<div class="form">
  <div class="form-head">
    {{#block "title"}}{{/block}}
  </div>
  <div class="form-content">
    {{#block "body"}}{{/block}}
  </div>
  <div class="form-footer">
    {{#block "footer"}}{{/block}}
  </div>
</div>