<div class="modal-wrap {{visible}}">
  <div class="modal-wrap-background">
    {{{ModalWrapBackground}}}
    <div class="modal">
      <div class="modal_content">
        <div class="modal_content_title">
          {{ title }}
        </div>

        <div class="modal_content_body">
          {{{ body }}}
        </div>
      </div>
    </div>
  </div>
</div>
