:root {
  --backgroundColor: #1a1924;
  --textColorRegular: #e1e1e6;
  --borderColor: #07847e;
  --grayColor: #999999;
  --primaryColor: #633bbc;
  --shadowColor: #111111b5;
  --alarmColor: #ff0000;
  --darkBackgroundColor: #15141d;
  --currentColor: #032423;
}
