.tooltip-wrap {
  position: relative;

  .tooltip {
    width: 165px;
    font-size: 12px;
    line-height: 12px;
    background-color: var(--backgroundColor);
    box-shadow: 0px 0px 3px var(--borderColor);
    border-radius: 12px;
  }
}
