<div>
  <div class="profile-page__form-avatar">
    <div class="profile-page__form-avatar-edit">
      <span>
        Поменять аватар
      </span>
    </div>
    <div>
      <img src={{{ img }}} alt="">
    </div>
  </div>
  <div class="profile-page__form-name">
    {{{nameUser}}}
  </div>
</div>
