<div>
  <div class="profile-page__form-avatar">
    <img src={{{img}}} alt="change avatar">
    {{#if isEdit}}
    <div class="profile-page__form-avatar-edit">
      <span>{{changeAvatarBtn}}</span>
    </div>
    {{/if}}


  </div>
  <div class="profile-page__form-name">{{{nameUser}}}</div>
</div>
