@import "./components/button/button.pcss";
@import "./components/input/input.pcss";
@import "./components/modal/modal.pcss";
@import "./components/form/form.pcss";
@import "./pages/auth/login.pcss";
@import "./pages/chat/chat.pcss";

body {
  background-color: #1a1924;
  height: 100vh;
  margin: 0;
}
