<div class="main">
    <span onclick="goToPage('login')">Login Page</span> <br /> <br />
    <span onclick="goToPage('signIn')">SignIn Page</span> <br /><br />
    <span onclick="goToPage('chat')">Chat Page</span> <br /><br />
    <span onclick="goToPage('profile')">Profile Page</span> <br /><br />
    <span onclick="goToPage('error404')">Error 404 Page</span> <br /><br />
    <span onclick="goToPage('error500')">Error 500 Page</span> <br /><br />
</div>