<div class="main">
    Hello,
    {{name.last}}
    {{name.first}}
    <span onclick="goToPage('login')">Login</span>
    <span onclick="goToPage('signIn')">SignIn</span>
    <span onclick="goToPage('chat')">Chat</span>
    {{!-- <a href="/src/profile.hbs">Profile</a>
    <a href="/src/pages/auth/login.hbs">Login</a>
    <a href="/src/pages/auth/signin.hbs">SignIn</a>
    <a href="/src/pages/chat/chat.hbs">Chat</a> --}}

</div>